h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu;
}

body{
    background-color: #262B35;
    /*background-color: #242629;*/
    /*background: white;*/
    font-family: Ubuntu;
    -webkit-font-smoothing: antialiased;
    color: #DAE2F2;
    font-weight: 400;
    margin: 0;
}

@media (min-width: 660px) {
    a.nav_link_icon {display:none}
    a.nav_link_text { }
}

@media (max-width: 1100px) {
    div.currently_playing{width:90%;}
    div.playlist{width:90%;}
    div.nav_container{
        width:90%;
        margin-left: 5%;
    }
    div.history{width:90%;}
}

@media (max-width: 660px) {
    a.nav_link_icon {}
    a.nav_link_text {display:none}
}




.nav_container{
    width: 60%;
    margin-left: 20%;
    height: 60px;
    line-height: 60px;
}

.shadow {
    box-shadow:0 5px 10px rgba(0,0,0,0.5);
}

#nav {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    font-size: 2em;
    vertical-align: middle;
    min-height: 60px;
    line-height: 60px;
    transition: all 0.5s linear;
    z-index: 9000;
    background-color: #262B35;
}

.nav_link_text{
    text-decoration: none;
    /*color: #3F3F4A;*/
    /*color: #5E687F;*/
    color: #757980;
    font-size: 23px;
    font-weight: 400;
    padding: 15px;
    font-family: Ubuntu;

}
.nav_link_text.current{
    /*color: #62A69F;*/
    color: #96B9CE;
}

#navLinks{
    float:left;
    max-height: 100%;
    padding-top: 5px;
}
#getSongLink{
    float:right;
    width: 375;
    vertical-align: middle;
}
.hide  { display:none; }
.open_add {
    background-color:#262B35;
}

.songLink {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #FF9A52;
    width: 345px;
    margin: auto;
    font-size: 15px;
    font-family: Ubuntu;
    color: #DAE2F2;
    float: left;
    padding-top: 27px;
}


.songLink textarea{
    resize:none;
    overflow: hidden;
}

input::-webkit-input-placeholder {
    color: #757980 !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #757980 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #757980 !important;
}

input:-ms-input-placeholder {
    color: #757980 !important;
}

input:focus {
    outline:none;
}

.addSong{
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0;
    top: 27px;
    float: right;
}

.loading {
    position:absolute;
    font-family: Ubuntu;
    font-size: 15px;
    color: #96B9CE;
    margin-bottom: 0;
    font-style: italic;
    float: right;
}

#footer {
    display: block;
    bottom: 0;
    width: 100%;
    font-size: 2em;
    vertical-align: middle;
    min-height: 80px;
    line-height: 80px;
    transition: all 0.5s linear;
    z-index: 9000;
    background-color: #262B35;
}


.material-icons {
    cursor: pointer;
}

.material-icons.blue { color: #96B9CE; }
.material-icons.gray { color: #757980; }

.currently_playing{
    position: relative;
    margin-top: 60px;
    padding-top: 15px;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

table#cur_playing{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background: #EEEEEE;*/
    /*border: 2px solid #62A69F;*/
    border-collapse: collapse;
}


.playlist{
    position: relative;
    margin-top: 30px;
    padding-top: 15px;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.history{
    position: relative;
    margin-top: 90px;
    padding-top: 15px;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background: #EEEEEE;*/
    /*border: 2px solid #62A69F;*/
    border-collapse: collapse;
}

tr {
    height: 45px;
}

th {
    /*background-color: #18181C;*/
    /*border-bottom: 3px solid #BABFDB;*/
    border-bottom: 3px solid #96B9CE;
    font-family: Ubuntu;
    text-align: left;
    padding: 8px;
    text-transform: uppercase;
    font-weight: normal;
}

td {
    font-size: 97%;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #757980;
}

.table_alert_success {
    font-family:Ubuntu;
    font-size: 15px;
    color: #FF9A52;
    font-style: italic;
}

.table_alert_error {
    font-family:Ubuntu;
    font-size: 15px;
    color: #FF4E4C;
    font-style: italic;
}

.alert_success {
    font-family:Ubuntu;
    font-size: 15px;
    color: #FF9A52;
    font-style: italic;
    float: right;
}

.alert_error {
    font-family:Ubuntu;
    font-size: 15px;
    color: #FF4E4C;
    font-style: italic;
    float: right;
}

#table_link{
    text-decoration: none;
    color: #BABFDB;
}

#now_playing{
    height: 30px;
    width: auto;
}

th:nth-child(1), td:nth-child(1) {
    text-align: center;
}

