h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu;
}

body{
    background-color: #262B35;
    /*background-color: #242629;*/
    /*background: white;*/
    font-family: Ubuntu;
    -webkit-font-smoothing: antialiased;
    color: #DAE2F2;
    font-weight: 400;
    margin: 0;
}

#nav{
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    min-height: 80px;
    line-height: 80px;
    transition: all 0.5s linear;
    z-index:9000;
    background-color: #262B35;
}

#nav.shadow {
    box-shadow:0 5px 10px rgba(0,0,0,0.5);
}

.nav_link{
    text-decoration: none;
    /*color: #3F3F4A;*/
    /*color: #5E687F;*/
    color: #757980;
    font-size: 23px;
    font-weight: 400;
    padding: 30px;
    font-family: Ubuntu;

}
.nav_link.current{
    /*color: #62A69F;*/
    color: #96B9CE;
}

.currently_playing{
    margin-top: 80px;
    padding-top: 15px;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

table#cur_playing{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background: #EEEEEE;*/
    /*border: 2px solid #62A69F;*/
    border-collapse: collapse;
}


.playlist{
    margin-top: 80px;
    padding-top: 15px;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background: #EEEEEE;*/
    /*border: 2px solid #62A69F;*/
    border-collapse: collapse;
}

th {
    /*background-color: #18181C;*/
    /*border-bottom: 3px solid #BABFDB;*/
    border-bottom: 3px solid #96B9CE;
    font-family: Ubuntu;
    text-align: left;
    padding: 8px;
    text-transform: uppercase;
    font-weight: normal;
}

td {
    font-size: 97%;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #757980;
}

#table_link{
    text-decoration: none;
    color: #BABFDB;
}

#now_playing{
    height: 30px;
    width: auto;
}

th:nth-child(1), td:nth-child(1) {
    text-align: center;
}

/*.button{*/
/*color:*/
/*}*/