h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu;
}

body{
    background-color: #23252b;
    /*background-color: #242629;*/
    /*background: white;*/
    font-family: Ubuntu;
    -webkit-font-smoothing: antialiased;
    color: #DAE2F2;
    font-weight: 400;
    margin: 0;
}

.wrapper {height: 100%;}
mark {background-color: #96b9ce; color: #23252b;}

@media (min-width: 1100px) {
    a.nav_link_icon {display:none}
    a.nav_link_text { }
    /*a.nav_link_icon {*/
        /*display: table-cell;*/
        /*vertical-align: middle;*/
        /*height: 88px;*/
    /*}*/
    /*a.nav_link_text {display:none}*/
}

@media (max-width: 1100px) {
    div.currently_playing{width:90%;}
    div.playlist{width:90%;}
    /*div.nav_container{*/
        /*width:90%;*/
        /*margin-left: 5%;*/
    /*}*/
    div.history{width:90%;}
}

@media (max-width: 1100px) {
    a.nav_link_icon {
        display: table-cell;
        vertical-align: middle;
        height: 88px;
    }
    a.nav_link_text {display:none}
    /*a.nav_link_icon {display: table-cell;}*/
    /*a.nav_link_text {display:none}*/
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    a.nav_link_icon {
        display: table-cell;
        vertical-align: middle;
        height: 88px;
    }
    a.nav_link_text {display:none}
    /*a.nav_link_text{display: none;}*/
    td.queueindexcolumn, a#table_link{font-size: 25px;}
    tr.tableheaderrow{font-size: 27px;}
    div.add_song_container{width:450px;}
    input.songLink{
        font-size: 25px;
        width: calc(100% - 52px);
    }
    i.material-icons{
        font-size: 39px;
    }
    h3{
        font-size: 30px;
    }
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    td {font-size: 16px;}
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    td {font-size: 16px;}
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
}


.nav_container{
    display: table;
    width: 100%;
    /*margin-left: 20%;*/
    height: 100%;
}

.shadow {
    box-shadow:0 5px 10px rgba(0,0,0,0.5);
}
#logo{
    display: table-cell;
    width: 20%;
    vertical-align: middle;
    padding-left: 3%;
    font-family: Courier, sans-serif;
    color: #757980;
}

#nav {
    position: fixed;
    display: table;
    top: 0;
    width: 100%;
    font-size: 2em;
    vertical-align: middle;
    transition: all 0.5s linear;
    z-index: 9000;
    background-color: #23252b;
    height: 88px;
    border-bottom: 1px solid #1d1e1f;
}

#nav_link_container{
    float:left;
    height: 100%;
    display: table;
}

.nav_link_text{
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    /*color: #3F3F4A;*/
    /*color: #5E687F;*/
    color: #757980;
    font-size: 23px;
    font-weight: 400;
    padding-right: 15px;
    font-family: Ubuntu;
    cursor: pointer;
}

.nav_link_icon{
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    /*color: #3F3F4A;*/
    /*color: #5E687F;*/
    color: #757980;
    font-size: 23px;
    font-weight: 400;
    padding-right: 15px;
    font-family: Ubuntu;
    cursor: pointer;
}

.nav_link_text:hover{
    color: #b5b9c0;
}
.nav_link_text:hover{
    color: #b5b9c0;
}

.nav_link_text.current{
    /*color: #62A69F;*/
    color: #96B9CE;
}

/*#getSongLink{*/
    /*float:right;*/
    /*width: 375;*/
    /*vertical-align: middle;*/
/*}*/
.hide  { display:none; }
.open_add {
    background-color:#262B35;
}
#add_song_container{
    /*float:right;*/
    padding-right: 5%;
    height: 100%;
    width: 40%;
    min-width: 450px;
    display: table-cell;
    vertical-align: middle;
}
.songLink {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #FF9A52;
    border-radius: 0;
    width: calc(100% - 30px);
    margin: auto;
    font-size: 15px;
    font-family: Ubuntu;
    color: #DAE2F2;
    float: left;
    /*padding-top: 27px;*/
}


.songLink textarea{
    resize:none;
    overflow: hidden;
}

input::-webkit-input-placeholder {
    color: #757980 !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #757980 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #757980 !important;
}

input:-ms-input-placeholder {
    color: #757980 !important;
}

input:focus {
    outline:none;
}

.addSong{
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0;
    float: right;
}

.add_song_events{
    display: table-cell;
    vertical-align: middle;
}

#loadingSongLink {
    font-family: Ubuntu;
    font-size: 15px;
    color: #96B9CE;
    margin-bottom: 0;
    font-style: italic;
    float: left;
}

.alert_success {
    font-family:Ubuntu;
    font-size: 15px;
    color: #FF9A52;
    font-style: italic;
    float: right;
}

.alert_error {
    font-family:Ubuntu;
    font-size: 15px;
    color: #FF4E4C;
    font-style: italic;
    float: right;
}


#footer {
    width: 100%;
    font-size: 13px;
    vertical-align: middle;
    text-align: center;
    min-height: 80px;
    line-height: 80px;
    transition: all 0.5s linear;
    z-index: 9000;
    border-top: 1px solid #1d1e1f;
    color: #757980;
}
#footer a { color: inherit; text-decoration: none;}
#footer a:hover {filter: brightness(70%);}

.material-icons {
    cursor: pointer;
}
.material-icons:hover{color: #787b92}

.material-icons.blue { color: #96B9CE; }
.material-icons.gray { color: #757980; }
.material-icons.gray:hover{color: #b5b9c0;}

.currently_playing{
    position: relative;
    margin-top: 70px;
    padding-top: 15px;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

table#cur_playing{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background: #EEEEEE;*/
    /*border: 2px solid #62A69F;*/
    border-collapse: collapse;
}


.playlist{
    position: relative;
    margin-top: 30px;
    padding-top: 15px;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.history{
    position: relative;
    margin-top: 90px;
    padding-top: 15px;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background: #EEEEEE;*/
    /*border: 2px solid #62A69F;*/
    border-collapse: collapse;
}

tr {
    height: 45px;
}

th {
    /*background-color: #18181C;*/
    /*border-bottom: 3px solid #BABFDB;*/
    border-bottom: 3px solid #96B9CE;
    font-family: Ubuntu;
    text-align: left;
    padding: 8px;
    text-transform: uppercase;
    font-weight: normal;
}

td {
    font-size: 97%;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #757980;
}

.table_alert_success {
    font-family:Ubuntu;
    font-size: 15px;
    color: #FF9A52;
    font-style: italic;
}

.table_alert_error {
    font-family:Ubuntu;
    font-size: 15px;
    color: #FF4E4C;
    font-style: italic;
}

#table_link{
    font-size: 15px;
    text-decoration: none;
    color: #BABFDB;
}

#table_link:hover{
    color: #787b92;
}

#now_playing{
    height: 30px;
    width: auto;
}

th:nth-child(1), td:nth-child(1) {
    text-align: center;
    width: 15%;
    min-width: 90px;
}

