<html>
<head>
    <title>DJESAAC</title>
    <!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/responsetable.css')}}"/>-->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.0.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/history.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/styles.css" />
</head>
<body>
    <div class="nav">
        <a id=nav_link href="..">HOME</a>
        <a id=nav_link href="../add">ADD SONG</a>
        <a id=nav_link class="current" href="../history/">HISTORY</a>

    </div>


    <div class="playlist">
        <table>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Link</th>
                <th></th>
            </tr>
            {% for event in history %}
            <tr>
                <td>{{loop.index0}}</td>
                <td>{{event.songTitle}}</td>
                <td><a id=table_link href="{{event.songLink}}">Link</a></td>
                <td><i class="material-icons"><span class='play_stop' onclick="sendReplayRequest('{{event.uuid}}')">replay</span></i></td>
            </tr>
            {% endfor %}

    </table>
</div>


</body>
</html>
