<html>
<head>
    <title>DJESAAC</title>
    <!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/responsetable.css')}}"/>-->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.0.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/history.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/add.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/settings.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cookie" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/styles.css" />
    <link rel="stylesheet" href="../static/styles/dialog.css" />
</head>
<body>
    <script>
        $(document).ready(function () {
            var updateEventInProgress = false;
            var updateEventParameters = {};

            var eventSource = new EventSource("/updater");
            eventSource.onmessage = function(event) {
                //reload the page for now, in the future hopefully it's dynamic
                // window.location.reload()
                if(event.data == "STARTUPDATE"){
                    updateEventInProgress = true;
                    updateEventParameters = {};
                }else if(event.data == "ENDUPDATE"){
                    //push changes to page
                    updateEventInProgress = false;
                    rearrangeHistoryTable(updateEventParameters);
                }else if(updateEventInProgress){
                    var parameterStart = event.data.indexOf(": ");
                    var parameterName  = event.data.substring(0,parameterStart);
                    var parameterValue = event.data.substring(parameterStart+2);
                    updateEventParameters[parameterName] = parameterValue;
                } else {
                    //what in the world are you sending me??
                }
            };

        });

    </script>

    <div id="nav">
        <div class="nav_container">
            <div id="logo">
                dj<mark>esaac</mark>
            </div>
            <div id="nav_link_container">
                <a class="nav_link_text" style="padding-left: 0;" href="/">HOME</a>
                <a class="nav_link_icon" style="padding-left: 0;" href="/"><i class='material-icons gray'>home</i></a>
                <a class="nav_link_text current" href="">HISTORY</a>
                <a class="nav_link_icon current" href=""><i class='material-icons blue'>view_list</i></a>
                <a class="nav_link_text" id="settings" onclick="getAndDisplaySettings();">SETTINGS</a>
                <a class="nav_link_icon" id='settings' onclick="getAndDisplaySettings();"><i class='material-icons gray'>settings</i></a>
            </div>

            <div id="add_song_container">
                <!--<div id="getSongLink">-->
                <input type="text" class="songLink" id="songLink" name="songLink" placeholder="ADD NEW SONG ...">
                <button type="submit" class="addSong" id="submitButton" onclick="onSubmit()" value="Submit">
                    <i class="material-icons blue"><i class="material-icons">file_upload</i>
                    </i>
                </button>
                <div class="add_song_events">
                    <a class="hide" id="loadingSongLink">loading</a>
                    <a class="alert_success hide" id="add_suc">successfully added song</a>
                    <a class="alert_error hide" id="add_fail">there was an error</a>
                </div>

                <!--</div>-->
            </div>

        </div>
    </div>

    <div class="modal">
        <div class="modal-object">
            <div class="modal-content">
                <span class="close" onclick="$('div.modal').css('display', 'none');"><i class="material-icons">close</i></span>
                <h2 style="display: table; position: relative; top: -15px;text-align: center; margin: 0; text-transform: uppercase; color: #757980; font-weight: 100; width: 100%;">settings</h2>
            </div>
            <div class="modal-body">
                <table id="settings-table">
                    <tbody>
                    <tr>
                        <td style="width:25%;">board</td>
                        <td><input id="board-src"/></td>
                    </tr>
                    <tr>
                        <td>red</td>
                        <td><input id="red-src"/></td>
                    </tr>
                    <tr>
                        <td>blue</td>
                        <td><input id="blue-src"/></td>
                    </tr>
                    <tr>
                        <td>green</td>
                        <td><input id="green-src"/></td>
                    </tr>
                    <tr>
                        <td>latency</td>
                        <td><input id="latency"/></td>
                    </tr>
                    <tr>
                        <td>autoplay</td>
                        <td>
                            <input id="autoplay" type="checkbox"  name="set-name" class="switch-input" />
                            <label for="autoplay" class="switch-label"></label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <input id="submit-settings-change" type="button" value="SAVE" onclick="saveSettings();"/>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="history">
            <table>
                <tr class="tableheaderrow">
                    <th width="35px;">#</th>
                    <th>Title</th>
                    <th width="30px;"></th>
                </tr>
                <tbody>
                {% for event in history %}
                <tr class="tabledatarow" id="{{loop.index0}}">
                    <td class="indexcolumn">{{loop.index0}}</td>
                    <td class="titlecolumn"> <a id=table_link href="{{event.songLink}}">{{event.songTitle}}</a></td>
                    <td class="replaycolumn"><i class="material-icons"><span class='play_stop' onclick="sendReplayRequest('{{event.uuid}}', '{{loop.index0}}')">replay</span></i></td>
                </tr>
                {% endfor %}
                </tbody>


            </table>
        </div>
    </div>
    <div id="footer">
        Check us out on <a href="https://github.com/amirsahabi/djesaac">GitHub</a>
    </div>


</body>
</html>
