<html>
<head>
    <title>DJESAAC</title>
    <!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/responsetable.css')}}"/>-->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.0.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/home.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/styles.css" />
</head>
<body>
<div class="nav">
    <a id=nav_link class="current" href="">HOME</a>
    <a id=nav_link href="add">ADD SONG</a>
    <a id=nav_link href="history/">HISTORY</a>
</div>

<script>
    $(document).ready(function(){
        $(".play_stop").click(function(){
            $(this).text(function(i, v){
                return v === 'play_circle_outline' ? 'pause_circle_outline' : 'play_circle_outline'
            });
        });
    });
</script>

<div class="currently_playing">
    <h3 style="margin-bottom: 0; text-transform: uppercase; color: #829A9E">currently playing</h3>
    <table id="cur_playing">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Link</th>
        </tr>
        {% if songs|length != 0 %}
            {% for i in range(1)%}
                {% if musicIsPlaying %}
                    <td>
                        <i class="material-icons"><span class='play_stop' onclick="startStop()">play_circle_outline</span></i>
                    </td>
                {% endif %}
                <td>{{songs[i].songTitle}}</td>
                <td><a id=table_link href="{{songs[i].songLink}}">Link</a></td>


                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
<div class="playlist">
    <table>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Link</th>
        </tr>
        {% if songs|length != 0 %}
            {% for i in range(1,songs|length)%}
                <td>{{loop.index0+1}}</td>
                <td>{{songs[i].songTitle}}</td>
                <td><a id=table_link href="{{songs[i].songLink}}">Link</a></td>

                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>


</body>
</html>
