<html>
<head>
    <title>DJESAAC</title>
    <!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/responsetable.css')}}"/>-->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.0.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/home.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/add.js')}}"></script>
    <script src="../static/js/jquery-3.2.0.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cookie" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/styles.css" />
</head>
<body>
<div id="nav">
    <div class="nav_container">
        <div id="navLinks">
            <a class="nav_link_text current" id='home'style="padding-left: 0;" href="/">HOME</a>
            <a class="nav_link_icon current" id='home'style="padding-left: 0;" href="/"><i class='material-icons blue'>home</i></a>
            <a class="nav_link_text" id='history' href="history">HISTORY</a>
            <a class="nav_link_icon" id='history' href="history"><i class='material-icons gray'>history</i></a>
        </div>

        <div id="getSongLink">
            <input type="text" class="songLink" id="songLink" name="songLink" placeholder="ADD NEW SONG ...">
            <button type="submit" class="addSong" id="submitButton" onclick="onSubmit()" value="Submit">
                <i class="material-icons blue"><i class="material-icons">file_upload</i>
                </i>
            </button>

            <div class="loading hide" id="loadingSongLink">
                <a id="loading">loading</a>
            </div>
            <div class="hide" id="add_suc">
                <a class="alert_success">successfully added song</a>
            </div>
            <div class="hide" id="add_fail">
                <a class="alert_error">there was an error</a>
            </div>
        </div>

    </div>
</div>


<script>
    var updateEventInProgress = false;
    var updateEventParameters = {};
    $(document).ready(function(){

        if ($(window).width() < 1100){
            $('home').text("<i class='material-icons'>home</i>");
            $('history').text('<i class="material-icons">history</i>');
        }

        $(".play_stop").click(function(){
            $(this).text(function(i, v){
                return v === 'pause_circle_outline' ? 'play_circle_outline' : 'pause_circle_outline'
            });
        });


        var eventSource = new EventSource("/updater");
        eventSource.onmessage = function(event) {
            //reload the page for now, in the future hopefully it's dynamic
            // window.location.reload()
            if(event.data == "STARTUPDATE" || event.data == "NEWSONG"){
                updateEventInProgress = true;
                updateEventParameters = {};
            }else if(event.data == "ENDUPDATE"){
                //push changes to page
                updateEventInProgress = false;
                reArrangeQueueTable(updateEventParameters);
            }else if(event.data == "ENDSONG"){
                updateEventInProgress = false;
                addNewSongToQueue(updateEventParameters);
            }else if(updateEventInProgress){
                var parameterStart = event.data.indexOf(": ");
                var parameterName  = event.data.substring(0,parameterStart);
                var parameterValue = event.data.substring(parameterStart+2);
                updateEventParameters[parameterName] = parameterValue;
            } else {
                //what in the world are you sending me??
            }
        };
    });
</script>

<div class="currently_playing">
    <h3 style="margin-bottom: 0; text-transform: uppercase; color: #757980; font-weight: 100;">currently playing</h3>
    <table>
        <tr class="tableheaderrow" >
            <th>#</th>
            <th>Title</th>
            <th>Link</th>
        </tr>
        {% if songs|length != 0 %}
            {% for i in range(1)%}
            <tr class="tabledatarow">
                <td class="playstopnextcolumn">
                {% if musicIsPlaying %}
                        <i class="material-icons"><span class='play_stop' onclick="startStop()">pause_circle_outline</span></i>
                {% else %}
                        <i class="material-icons"><span class='play_stop' onclick="startStop()">play_circle_outline</span></i>
                {% endif %}
                <i class="material-icons"><span class='skipsong' onClick='skipSong("{{songs[0].uuid}}")'>skip_next</span></i>
                </td>
                <td class="songtitlecolumn">{{songs[i].songTitle}}</td>
                <td class="songlinkcolumn"><a id=table_link href="{{songs[i].songLink}}">Link</a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
<div class="playlist">
    <h3 style="margin-bottom: 0; text-transform: uppercase; color: #757980; font-weight: 100; ">playlist</h3>
    <table>
        <tr class="tableheaderrow">
            <th>#</th>
            <th>Title</th>
            <th>Link</th>
            <th></th>
        </tr>
        {% if songs|length != 0 %}
            {% for i in range(1,songs|length)%}
            <tr class="tabledatarow">
                <td class="queueindexcolumn">{{loop.index0+1}}</td>
                <td class="songtitlecolumn">{{songs[i].songTitle}}</td>
                <td class="songlinkcolumn"><a id="table_link" href="{{songs[i].songLink}}">Link</a></td>
                <td class="removebuttoncolumn"><i class="material-icons"><span class='remove' onclick="removeSongFromQueue('{{songs[i].uuid}}')">remove_circle_outline</span></i></td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
<div id="footer">

</div>


</body>
</html>
