<html>
<head>
    <title>DJESAAC</title>
    <!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/responsetable.css')}}"/>-->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.0.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/home.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/add.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/settings.js')}}"></script>
    <script src="../static/js/jquery-3.2.0.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cookie" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/styles.css" />
    <link rel="stylesheet" href="../static/styles/dialog.css" />

</head>
<body>
<div id="nav">
    <div class="nav_container">
        <div id="nav_link_container">
            <a class="nav_link_text current" id='home'style="padding-left: 0;" href="/">HOME</a>
            <a class="nav_link_icon current" id='home'style="padding-left: 0;" href="/"><i class='material-icons blue'>home</i></a>
            <a class="nav_link_text" id='history' href="history">HISTORY</a>
            <a class="nav_link_icon" id='history' href="history"><i class='material-icons gray'>view_list</i></a>
            <a class="nav_link_text" id="settings" onclick="getAndDisplaySettings();">SETTINGS</a>
            <a class="nav_link_icon" id='settings' onclick="getAndDisplaySettings();"><i class='material-icons gray'>settings</i></a>
        </div>
        <div id="add_song_container">
            <!--<div id="getSongLink">-->
                <input type="text" class="songLink" id="songLink" name="songLink" placeholder="ADD NEW SONG ...">
                <button type="submit" class="addSong" id="submitButton" onclick="onSubmit()" value="Submit">
                    <i class="material-icons blue"><i class="material-icons">file_upload</i>
                    </i>
                </button>
                <div class="add_song_events">
                    <a class="hide" id="loadingSongLink">loading</a>
                    <a class="alert_success hide" id="add_suc">successfully added song</a>
                    <a class="alert_error hide" id="add_fail">there was an error</a>
                </div>

            <!--</div>-->
        </div>


    </div>
</div>


<script>
    var updateEventInProgress = false;
    var updateEventParameters = {};
    $(document).ready(function(){

        if ($(window).width() < 1100){
            $('home').text("<i class='material-icons'>home</i>");
            $('history').text('<i class="material-icons">history</i>');
        }

        var eventSource = new EventSource("/updater");
        eventSource.onmessage = function(event) {
            //reload the page for now, in the future hopefully it's dynamic
            // window.location.reload()
            if(event.data == "STARTUPDATE" || event.data == "NEWSONG" || event.data == "REMSONG" || event.data == 'PLAYSTOP'){
                updateEventInProgress = true;
                updateEventParameters = {};
            }else if(event.data == "ENDUPDATE"){
                //push changes to page
                updateEventInProgress = false;
                reArrangeQueueTable(updateEventParameters);
            }else if(event.data == "ENDSONG"){
                updateEventInProgress = false;
                addNewSongToQueue(updateEventParameters);
            }else if(event.data == "ENDREM"){
                updateEventInProgress = false;
                removeSongFromQueueFromUpdate(updateEventParameters);
            }else if(event.data == "ENDPLAYSTOP"){
                updateEventInProgress = false;
                stopPlayChange(updateEventParameters);
            }else if(updateEventInProgress){
                var parameterStart = event.data.indexOf(": ");
                var parameterName  = event.data.substring(0,parameterStart);
                var parameterValue = event.data.substring(parameterStart+2);
                updateEventParameters[parameterName] = parameterValue;
            } else {
                //what in the world are you sending me??
            }
        };
    });
</script>

<div class="modal">
    <div class="modal-object">
        <div class="modal-content">
            <span class="close" onclick="$('div.modal').css('display', 'none');"><i class="material-icons">close</i></span>
            <h2 style="display: table; position: relative; top: -15px;text-align: center; margin: 0; text-transform: uppercase; color: #757980; font-weight: 100; width: 100%;">settings</h2>
        </div>
        <div class="modal-body">
            <table id="settings-table">
                <tbody>
                    <tr>
                        <td style="width:25%;">board</td>
                        <td><input id="board-src"/></td>
                    </tr>
                    <tr>
                        <td>red</td>
                        <td><input id="red-src"/></td>
                    </tr>
                    <tr>
                        <td>blue</td>
                        <td><input id="blue-src"/></td>
                    </tr>
                    <tr>
                        <td>green</td>
                        <td><input id="green-src"/></td>
                    </tr>
                    <tr>
                        <td>latency</td>
                        <td><input id="latency"/></td>
                    </tr>
                    <tr>
                        <td>autoplay</td>
                        <td>
                            <input id="autoplay" type="checkbox"  name="set-name" class="switch-input" />
                            <label for="autoplay" class="switch-label"></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <input id="submit-settings-change" type="button" value="SAVE" onclick="saveSettings();"/>
        </div>
    </div>
</div>

<div class="currently_playing">
    <h3 style="margin-bottom: 0; text-transform: uppercase; color: #757980; font-weight: 100;">currently playing</h3>
    <table>
        <tr class="tableheaderrow" >
            <th>#</th>
            <th>Title</th>
        </tr>
        {% if songs|length != 0 %}
            {% for i in range(1)%}
            <tr class="tabledatarow">
                <td class="playstopnextcolumn">
                {% if musicIsPlaying %}
                        <i class="material-icons"><span class='play_stop' onclick="startStop()">pause_circle_outline</span></i>
                {% else %}
                        <i class="material-icons"><span class='play_stop' onclick="startStop()">play_circle_outline</span></i>
                {% endif %}
                <i class="material-icons"><span class='skipsong' onClick='skipSong("{{songs[0].uuid}}")'>skip_next</span></i>
                </td>
                <td class="songtitlecolumn"> <a id=table_link href="{{songs[i].songLink}}">{{songs[i].songTitle}}</a> </td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
<div class="playlist">
    <h3 style="margin-bottom: 0; text-transform: uppercase; color: #757980; font-weight: 100; ">playlist</h3>
    <table>
        <tr class="tableheaderrow">
            <th>#</th>
            <th>Title</th>
            <th></th>
        </tr>
        {% if songs|length != 0 %}
            {% for i in range(1,songs|length)%}
            <tr class="tabledatarow">
                <td class="queueindexcolumn">{{loop.index0+1}}</td>
                <td class="songtitlecolumn"> <a id=table_link href="{{songs[i].songLink}}">{{songs[i].songTitle}}</a> </td>
                <td class="removebuttoncolumn"><i class="material-icons"><span class='remove' id="{{songs[i].uuid}}" onclick="removeSongFromQueue('{{songs[i].uuid}}')">remove_circle_outline</span></i></td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
<div id="footer">

</div>


</body>
</html>
